<!DOCTYPE html>
<html>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- <meta http-equiv="X-UA-Compatible" content="ie=edge"> -->
<title>Líder em Computação de Inteligência Artificial | NVIDIA</title>

<head>
    <link rel="icon" href="/images/nvidiaFavIcon.jpg">
    <meta name="description"
        content="Tecnologia de computação visual da NVIDIA: criadora da GPU, o que gera gráficos interativos em laptops, estações de trabalho, dispositivos móveis, notebooks ..." />
</head>

<body>
    <h3>Adicionar Placa</h3>
    <form action="/addProduct/insert" method="post" enctype="multipart/form-data">
        <div class="input">
            <label for="description">Frase</label>
            <input type="text" id="description" name="description" required>
        </div>
        <div class="input">
            <label for="image">Imagem</label>
            <input type="file" id="image" name="image" required>
        </div>
        <button type="submit">INSERT</button>
    </form>
</body>
</html>
